.Basketball-img1 {
    /* width: 300px;
    height: 200px; */
    display: block;
    margin-left: auto;
}
.Basketball-img2 {
    /* width: 300px;
    height: 200px; */
    display: block;
    margin-right: auto;
}